.about {
  padding: 60px;
  background: $background;
  height: 100vh;
}
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth; /* Enable smooth scrolling */
}